@font-face{font-family:"Elm";src:url("../assets/fonts/Elm-Extralight.ttf") format("truetype");font-weight:200;font-style:normal;font-display:swap}
@font-face{font-family:"Elm";src:url("../assets/fonts/Elm-Light.ttf") format("truetype");font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:"Elm";src:url("../assets/fonts/Elm-Regular.ttf") format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:"Elm";src:url("../assets/fonts/Elm-Medium.ttf") format("truetype");font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:"Elm";src:url("../assets/fonts/Elm-Bold.ttf") format("truetype");font-weight:700;font-style:normal;font-display:swap}
:root{--font-display:"Elm",-apple-system,"Segoe UI",sans-serif;--font-body:"Elm",-apple-system,"Segoe UI",sans-serif}
